<strong>Olá, {{ deliveryman }}</strong>
<p>Cancelation Confimation from Package {{ package_id }}</p>
<p>
  <strong>Details:</strong><br />
  <strong>Name: </strong> {{ product }}<br />
  <strong>Date :</strong>{{ canceled_at }}<br />

</p>
